
@{
    ViewData["Title"] = "AI";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/site/AI.css" />
<link rel="stylesheet" href="~/site/StyleSheet.css" />
<head>


</head>
<body>
    <div class="AI">
        <h1><b>What is Artificial Intelligence?</b></h1>
        <h5>This is ability for Computers to perform tasks based on their own decisions just like humans without being explicitly programmed.<br /> </h5>
        <div>
            <p>
                By saying that Computers perform tasks on their own? Based on their own decisions? Just like humans? What exactly does this mean?<br />
                Well, lets start here, before humans do any task, they must first learn how the task is done. How do humans learn how a task is done? <br />
                To answer this question, we must go back to when a baby is born. This baby has zero knowledge of the environment. <br />
                The baby first starts learning how to suckle, later how to crawl, walk, talk e.t.c <br />
            </p>
        </div>
        <div>
            By repetition, the baby will start understanding the environment they have been raised in.<br />
            This is exactly what we are doing with Computers. Considering the traditional way of programming, if we wanted to do any task using a computer we were supposed to write a program using if – else statements.<br />
            This was good, wasn’t it? But how many lines of code would we write to distinguish between a cat and a dog. <br />
            Going back to High School Biology, for those who  can remember, we would start writing if – else statements based on characteristics that are unique to each. This would be a lot of code.<br />

            <br />
        </div>
        <div>
            Now imagine what it would be, trying to write if – else statements to distinguish other domestic animals, wild animals, human beings etc.,
            this would be suicidal because we will may end up writing zillions of lines of code and end up confusing ourselves.<br />
        <br />
        </div>
        <div>
            <p>

                <img src="~/images/artificial-intelligence-background-image.jpg" class="centre-img" width="600" height="400" /><br />

            </p>
        </div>
        <div>
            But now imagine writing a simple program and feeding it to a computer(installing the software). We then give the program data, then it helps the computer to learn the relationships between different features of the data by itself. <br />
            A practical example would be giving the computer several images of a cat, then its will learn features from those images, so that if we give it unseen image of a cat, it will identify that image as that of a cat. <br />

        </div>
        <div>
            If we try giving it a different image, say for a dog, the computer would be able to distinguish and deny that the image is not
            that of a cat. Doesn’t this sound magical? Well, its not, its exactly what we are referring to as Artificial Intelligence.<br />

        </div>
        <div>
            Artificial Intelligence is categorized into Artificial Weak Intelligence(Which is happening now), Artificial General Intelligence and Artificial Superintelligence .<br />
            <br />
        </div>
        <div>
            The concept of Artificial Intelligence has been there since sixties in 20th centuary, but why should we give it attention now? Why?<br />
            Well, there are some factors that have led to accelerated efforts for research in the field of Artificial Intelligence.<br />
            One, 90% of all the data in the world was generated in the last two years (lagughs to this, because I have also learnt most of the technology
            I know in the last two years). The current output of data by the world is 2.5 quintillion of bytes per minute

        </div>
        <div>
            <h4>Machine Learning</h4>
            <p>
                The process of inducing knowledge into the machine(computer) is what is called Machine Learning.<br />
                Machine Learning is categorized into three categories which are:
                <ul>
                    <li>Supervised Learning</li>
                    <li>Unsupervised Learning</li>
                    <li>Reinforced Learning</li>
                </ul>
                
               
            </p>
        </div>
    </div>

</body>

