@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/site/StyleSheet.css" />

<ul>
    <li>
        <a class="active" asp-action="Index">Home</a>
    </li>
    <li>
        <a asp-action="AI">AI</a>
    </li>
    <li>
        <a asp-action="IoT">IoT</a>
    </li>
    <li>
        <a asp-action="UserProfile">User Profile</a>
    </li>
    <li>
        <a asp-action="Events">Events</a>
    </li>
    <li>
        <a asp-action="DiscussionForum">Discussion Forum</a>
    </li>
    <li>
        <a asp-action="News">News</a>
    </li>
   
</ul>
    <div class="index" >
        
        <p>
            Are you an enthuisiast of <a href="">AI</a> and <a href="">IoT</a> ?, Do you often hear of AI and IoT,the mind-blowing things the technology-oriented companies and
            organizations have achieved through it? Do you have that passion of becoming part of it? <b class="text-danger">AIoTuesdays</b> is here for you.

        </p>
        <p>
            <b class="text-danger">AIoTuesdays</b> is a programe started with the purpose of choosing a group of few committed students and guide them through IoT and AI for industrial production. There
            are Engineers who are leading the IoT sessions as well as several companies that do manufacturing. We also reach out to Machine Learning Scientists to
            lead AI sessions, as well as partner with  Companies that deal with AI.
        </p>
        <p>For more details,Watch the video below</p>
        <!--Insert Video-->
        <p>
           Ready to start? Create your <a href="">account</a> or <a href="">Login</a> and join other Engineers, build your skills, discover new products and technologies for industrial production.
        </p>
        <!--The create account field-->
        <h5 class="font-weight-bolder">Make Your Dream Come True!</h5>
    </div>
