@{
    Layout = "_Layout";

}
@{
    ViewData["Title"] = "IoT";
}
    <head>
        <link rel="stylesheet" href="~/site/IoT.css" />
        <link rel="stylesheet" href="~/site/StyleSheet.css" />
        <link rel="stylesheet" href="~/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.css" />
    </head>

    <body>
        
       
        <div class="IoT">
            <h3><b>What is IoT?</b></h3>
            <p>
                The Internet of Things, or simply IoT, refers to the billions of physical devices around the world that are connected
                to the Internet, all collecting and sharing data. Due to arrival of super-cheap computer chips and the ubiquity of wireless
                networks,it is possible to turn anything, from somthing as small as a pill to somthing as big as an aeroplane, into a part of IoT.

            </p>
            <p>
                Connecting up all these objects and adding sensors to them  adds a level of digital intelligence to devices that would be otherwise dump,
                thus enabling them to communicate real-time data without involving a human being. IoT is making the world around us more smarter and more responsive,
                merging the digital and physical universes.
            </p>
            <p>
                <!--Introductory Video-->
            </p>
            <div class="AppsOfIoT">
                <p>
                    <h4><b>What are some of the applications of IoT?</b><br /></h4>
                    IoT finds its application in various sectors, few of the applications are discussed below;
                </p>
                <h3>
                    <b class="text-danger">Industrial Sector</b><br />
                </h3>
                <div class="row">
                    <div class="col-sm-6" style="background-color:skyblue">
                        <img src="~/images/automotive-industry.jpg" style="width:100%" />
                    </div>
                    <div class="col-sm-6" style="background-color:white">
                        <h5 class=" font-weight-bold">Industrial Internet of Things(IIoT)</h5><br />
                    </div>
                </div>
                <br />
                <h3>
                    <b class="text-danger">Health Sector</b><br />
                </h3>
                <div class="row">
                    <div class="col-sm-6" style="background-color:skyblue">
                        <img src="~/images/automotive-industry.jpg" style="width:100%" />
                    </div>
                    <div class="col-sm-6" style="background-color:white">
                        <h5 class=" font-weight-bold">Industrial Internet of Things(IIoT)</h5><br />
                    </div>
                </div>
                <br />

                <h3>
                    <b class="text-danger">Agricultural Sector</b><br />
                </h3>
                <div class="row">
                    <div class="col-sm-6" style="background-color:skyblue">
                        <img src="~/images/automotive-industry.jpg" style="width:100%" />
                    </div>
                    <div class="col-sm-6" style="background-color:white">
                        <h5 class=" font-weight-bold">Industrial Internet of Things(IIoT)</h5><br />
                    </div>
                </div>
                <br />
                <h3>
                    <b class="text-danger">Homes</b><br />
                </h3>
                <div class="row">
                    <div class="col-sm-6" style="background-color:skyblue">
                        <img src="~/images/smart-home.jpg" style="width:100%" />
                    </div>
                    <div class="col-sm-6" style="background-color:white">
                        <h5 class=" font-weight-bold">Industrial Internet of Things(IIoT)</h5><br />
                    </div>
                </div>
                <br />

            </div>

        </div>
    </body>