@{
    Layout = "_Layout";

}
@{
    ViewData["Title"] = "IoT";
}
    <head>
        <link rel="stylesheet" href="~/site/IoT.css" />
    </head>

    <body>
        <div class="IoT">
            <h3><b>What is IoT?</b></h3>
            <p>
                The Internet of Things, or simply IoT, refers to the billions of physical devices around the world that are connected
                to the Internet, all collecting and sharing data. Due to arrival of super-cheap computer chips and the ubiquity of wireless
                networks,it is possible to turn anything, from somthing as small as a pill to somthing as big as an aeroplane, into a part of IoT.

            </p>
            <p>
                Connecting up all these objects and adding sensors to them  adds a level of digital intelligence to devices that would be otherwise dump,
                thus enabling them to communicate real-time data without involving a human being. IoT is making the world around us more smarter and more responsive,
                merging the digital and physical universes.
            </p>
            <p>
                <!--Introductory Video-->
            </p>
            <p>
                <b>What are some of the applications of IoT?</b><br />
                IoT finds its application in various sectors such as in Health sector,Industrial sector,Education sector and home appliances,just to mention but a few.
            </p>
            <p>
                <img src="~/images/automotive-industry.jpg" width="600" height="400" /><br /><a href="">Automotive industry</a> <br /><br /><img src="~/images/smart-city.jpg" width="600" height="400" /><br /><a href="">Smart City</a>
                <br />
                <br />
                <img src="~/images/smart-home.jpg" width="600" height="400" /><br /><a href="">Smart Home</a>
                <br />
                <br />
                <img src="~/images/smart-speaker.jpg" width="600" height="400" /><br /><a href="">Smart Speaker</a>
            </p>
        </div>
    </body>