body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.AI {
    
    background-color: whitesmoke;
    margin-left: -90px;
    margin-right: -90px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}
.AI ul{

}

.footer {
    margin-top: -20px;
    background-color: wheat;
    margin: initial;
}
.centre-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
